<%- include("../layouts/header") %>

<div class="ui comments">
    <div class="comment">
        <a href="/messages/<%= message.id %>" class="avatar">
            <img src="<%= message.image %>" alt="">
        </a>
        <div class="content">
            <div class="metadata">
                <div class="data">
                    <%= message.created_at.fromNow() %>
                </div>
            </div>
            <div class="test"><%= message.content %></div>
        </div>
    </div>
</div>

<%- include("../layouts/footer") %>